<div class="container">
	<div class="row text-center">
		<h1>Trip Planner</h1>
	</div>
	<form>
		<div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2 form-group">
			<label>Boarding</label>
			<input type="text" class="form-control">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2 form-group">
			<label>Destination</label>
			<input type="text" class="form-control">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2 form-group">
			<label>No of stops</label>
			<input type="number" class="form-control">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2 form-group text-center">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</form>
</div>